{% extends 'base.html' %}
{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Url</th>
            <th scope="col">Views</th>
            <th scope="col">AD text</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <th scope="row">{{ record.id }}</th>
                <td><a href="{{ record.url }}">{{ record.url }}</a></td>
                <td>{{ record.views }}</td>
                <td>{{ record.ad_text }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}