{% extends 'base.html' %}
{% block content %}
    <h1>Admin Page</h1>
    <div class="select-input" id="#select-input">
        <div class="input-group">
            <select class="custom-select" id="inputGroupSelect">
                <option selected>Choose...</option>
                <option value="avito">Avito</option>
                <option value="cian">Cian</option>
                <option value="yandex">Yandex</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="sendStartTaskData()">Run</button>
            </div>
        </div>
        <div class="progress-bar-custom" id="#progress-bar-div"></div>
    </div>
{% endblock %}